#heading{
    display: flex;
    color: aliceblue;
    gap: 10px;
}

#lel {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#container{
    margin-top: 50px;
    background-color: rgb(11, 37, 90);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.music-card-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 40px;
    transition: all 0.5s;
    color: #ffffffcc;
}

.icon{
    height: 100%;
    cursor: pointer;
}

.music-card{
    height: 100px;
    display: flex;
    gap: 10px;
    align-items: center;
    padding-left:10px;
    width: 95%;
    cursor: pointer;
}

.music-card-1:hover{
    background-color: rgb(121, 158, 190);
}

#reproductor-cont{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    height: 90px;
    padding: 0px 10px 25px;
    position: fixed;
    bottom: 0;
    color: #ffffffa8;
    background-color: #01050c;
}

#song-title-repr{
    color: aliceblue;
}

.flex{
    display: flex;
    justify-content: space-between;
}

#controllers-container{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.bar{
    background-color: #ffffffa8;
    height: 26px;
    width: 10px;
}

.bar-container{
    display: flex;
    gap: 4px;
    cursor: pointer;
}

.controls{
    cursor: pointer;
    font-size: 34px;
}

.image-album-playlist-container{
    width: 336px;
    height: 188px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background: linear-gradient(35deg, #071739 0%, rgba(105, 105, 105, 0.644) 97%);
}

.triangle-container{
    overflow: hidden;
    height: 26px;
    width: 26px;
}

.triangle {
    background-color: #ffffffa8;
    height: 90%;
    width: 90%;
    transform: rotateZ(40deg);
    transform-origin: 16% -12%;
}

.bottom-lel{
    height: fit-content;
    padding-bottom: 135px;
}

@media only screen and (max-width: 620px) {
    #heading{
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    }

    .music-card-1{
        padding-right: 15px;
    }
  
    .music-card{
      gap: 20px;
      padding: 0 20px;
    }

    .music-card-1:hover{
        background-color: unset;
    }

    .music-card-1:active{
        background-color: rgb(121, 158, 190);
    }

  }